.spanfont{
    color: #888;
    font-weight: 600;
}
span#title{
    font-size: 25px;
    margin: 20px 0;
}
span#cursor{
    font-size: 25px;
    margin: 20px 0;
}
.cursor{
    position: relative;
    bottom: 2px;
    opacity: 1;
    animation: cursorblink 0.5s infinite;
    -webkit-animation: cursorblink 0.5s infinite;
}
@keyframes cursorblink{
    0% { opacity: 1; }
    25% { opacity: 0.75; }
    50% { opacity: 0.25; }
    100% { opacity: 0; }
}
@-webkit-keyframes cursorblink{
    0% { opacity: 1; }
    25% { opacity: 0.75; }
    50% { opacity: 0.25; }
    100% { opacity: 0; }
}